//variables
$dark: #414141;
$slate: #414141;
$green: #97FFCA;
$blue: #1344C0;
$blue-alt: #204FC6;
$orange: #f0a055;
$light: #E7EEED;

.header-wrapper {
    height: 100vh;
    width: 100%;
    background-color: black;
    background-image: url("../assets/header-tm.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        height: 95px;
        width: 100%;
        background: rgba(0, 0, 0, 0.616);
        padding: 2rem 2rem;
        .logo {
            width: 112px;
            height: 40px;
            margin-left: 18px;
            margin-right: 48px;
        }
        .nav-item {
            display: inline;
            text-decoration: none;
            color: white;  
            font-size: 0.95rem;
            font-weight: bold; 
            text-transform: uppercase;
            padding: 0 1.65rem;
        }
        .mob-hide {
            display: none;
        }
      
        .nav-item-plus {
            display: inline;
            text-decoration: none;
            color: white;  
            font-size: 0.95rem;
            font-weight: bold; 
            text-transform: uppercase;
            padding: 1.05rem 2.15rem;
            border-radius: 45px;
            transition: all 0.5s;
            background: rgb(95, 95, 95);
           }
        .nav-item-plus:hover {
            color: #FFF;  
            background: $blue;
            border: 1px solid $blue;
        }
    }
    .content-block { 
        .profile-pic {
            width: 75px;
            height: auto;
            border-radius: 50%;
        }
        .dynamic-block {
            margin-top: 1.85rem;
            h1 {
            color: white;
            margin: 0.6rem 0 0 0;
            font-size: 1.75rem;
            font-weight: 900;
            line-height: 2.10rem;
            letter-spacing: -.1rem;
        }
        span {
            margin: 0;
            color: white;
            font-size: 1.75rem;
            font-weight: 800;
            line-height: 2.10rem;
            letter-spacing: -.1rem;
        }
        }

        .btn-wrapper {
            margin-top: 2.15rem;
            .hero-btn {
                display: inline-block;
                padding: 1rem 2.2rem;
                font-size: 1rem;
                border: 1px solid $blue;
                border-radius: 50px;
                height: auto;
                background-color: transparent;
                color: $blue;
                font-size: 0.75rem;
                font-weight: 400;
                text-decoration: none;
                }
            .hero-btn:hover {
                padding: 1rem 2.6rem;
                background-color: $blue;
                color: #FFF;
                transition-delay: 0s;
                transition-duration: 0.3s;
                transition-property: all;
                transition-timing-function: ease-in-out;
            }  
        }
    }
    .scroll-down { 
        margin: 0;
        position: absolute;
        bottom: 18px;
        left: 50%;
        .arrow {
            font-size: 1.25rem;
            }
    }
    header,
    .content-block {
        padding: 10px 10px;
        font-size: 2rem;
        text-align: center;
    }
    /* animation for to bounce down arrow */
    .bounce {
        display: inline-block;
        position: relative;
        -moz-animation: bounce 0.5s infinite linear;
        -o-animation: bounce 0.5s infinite linear;
        -webkit-animation: bounce 0.5s infinite linear;
        animation: bounce 0.5s infinite linear;
      }  

        @-webkit-keyframes bounce {
            0% { top: 0; }
            50% { top: -0.2em; }
            70% { top: -0.3em; }
            100% { top: 0; }
        }
        @-moz-keyframes bounce {
            0% { top: 0; }
            50% { top: -0.2em; }
            70% { top: -0.3em; }
            100% { top: 0; }
        }
        @-o-keyframes bounce {
            0% { top: 0; }
            50% { top: -0.2em; }
            70% { top: -0.3em; }
            100% { top: 0; }
        }
        @-ms-keyframes bounce {
            0% { top: 0; }
            50% { top: -0.2em; }
            70% { top: -0.3em; }
            100% { top: 0; }
        }
        @keyframes bounce {
            0% { top: 0; }
            50% { top: -0.2em; }
            70% { top: -0.3em; }
            100% { top: 0; }
        }

        @media screen and (min-width: 568px) {
        
            nav {
                a {
                    font-size: 0.85rem;
                }
            }
            .content-block {
                .dynamic-block {
                    h1,
                    span {
                        margin: 0;
                        font-size: 2.15rem;
                        font-weight: 700;
                        line-height: 3.45rem;
                        letter-spacing: -.1rem;
                    }
                }
                .btn-wrapper {
                    .hero-btn {
                        display: inline-block;
                        padding: 1rem 2.2rem;
                        font-size: 0.85rem !important;
                        font-weight: 600;
                        border: 2px solid $blue;
                        border-radius: 50px;
                        height: auto;
                        background-color: transparent;
                        color: #FFF;
                        font-size: 0.85rem;
                        }  
                }
            } 
        }

        @media screen and (min-width: 769px) {
            nav {
                .mob-hide {
                    display: inline-block !important;
                }   
            }
        }
        

        @media screen and (min-width: 1047px) {
            .content-block {
                text-align: left;
                padding: 2.65rem;
                .profile-pic {
                    width: 75px;
                    height: auto;
                    border-radius: 50%;
                    z-index: 2;
                }
                .dynamic-block {
                    h1 {
                        font-size: 3.25rem;
                        line-height: 3.75rem;
                    }
                    span {
                        font-size: 3.25rem;
                        line-height: 3.95rem;
                    }
                }
            }
        }

        @media screen and (min-width: 1795px) {
            .content-block {
                padding: 7.65rem;
                .profile-pic {
                    width: 85px;
                }
                .dynamic-block {
                    h1 {
                        font-size: 4.75rem;
                        line-height: 5.0rem;
                    }
                    span {
                        font-size: 4.75rem;
                        line-height: 5.25rem;
                    }
                }
            }
        }
}

.min-header {
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: left;
    background: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #e6e6e6;
    box-shadow: 5px 5px 8px 0 #e6e6e638;
    padding: 0.4rem 0.65rem;
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        .logo {
            width: 105px;
            height: 40px;
            margin-left: 18px;
        }
        nav {
            .back {
            text-decoration: none;
            text-transform: uppercase;
            color: $slate;
            font-size: 1.15rem;
            margin-right: 18px;
            transition: all 0.5s;
            p {
                display: inline;
                color: $orange;
                margin-left: 16px;
                font-size: 1.45rem;
            }
    

        }
        .back:hover {
            margin-right: 1.4rem;
        }
    }  
}

@media screen and (min-width: 769px) {
    .min-header {
        padding: 0.8rem 2.8rem;
    }
}

}








