$white: #FFFFFF;
$orange: #f0a055;
$slate: #414141;
$blue: #31C2DB;
$grey: #c5c5c5;
$light-bgrd: #fbfbfb;

#cta {
    transition: all 0.5s;
    text-decoration: none;
    color: $slate;
    .cta-wrapper {
        text-decoration: none;
        h2 {
        color: $orange;
        margin-right: 18px;
        text-transform: uppercase;
        font-size: 1.25rem;
        }
        .back-arrow {
            color: $orange;
            margin: 0;
            padding: 0;
        }
    }
}

#cta:hover {
    background: $orange;
    .cta-wrapper {
        h2 {
            color: $white;
        }
        .back-arrow {
            color: $white;
        }
    }
}

#project {
        .work-header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            padding: 7.8rem 0 3.8rem 0;
            .work-year {
            }
            .work-deliv {
            }
            .work-title {
            }
        }
        .image-block {
            background: rgb(231, 231, 231);
            padding: 7.8rem 0;
            img {
                max-width: 90%;
            }
        }
        .tech-block {
            padding: 5.8rem 0 1.8rem 0;
            .content-wrapper {
                flex: 1 0 32%;
                text-align: left;
            }
            .tooling {
                padding-top: 1.8rem;
                flex: 1 0 550px;
                img {
                    margin: 0 0.15rem;
                    width: 120px;
                    height: 120px;
                }
            }
        }
        .work-links {
            text-align: center;
            padding: 0 0 3.8rem 0;
        }
    }

@media screen and (min-width: 1150px) {
    #project {
        .work-header {
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 100%;
            max-width: 1440px;
            padding: 10.8rem 1.8rem 5.8rem 1.8rem;
            text-align: left;
            .work-year {
               flex: 1 1 10%;
            }
            .work-deliv {
                flex: 1 1 10%;
            }
            .work-title {
                flex: 1 1 65%;
                padding: 0 4.65rem;
            }
        }
        .image-block {
            img {
                max-width: 85%;
            }
        }
        .tech-block {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            margin: 0 auto;
            max-width: 1440px;
            .content-wrapper {
                padding: 0 1.8rem;
            }
            .tooling {
                flex: 0 0 450px;
                margin: 0 auto;
                img {
                    width: 165px;
                    height: 165px;
                }
            }
        }
        .work-links {
            text-align: left;
            max-width: 1440px;
            padding: 0 0 3.8rem 1.8rem;
        }
    }
}

@media screen and (min-width: 1520px) {
    #project {
     .image-block {
         img {
             max-width: 1440px;
         }
     }
    } 
 
 }